  <div class="message">
    <div class="message-body">
      <%= link_to "New post", new_post_path, class: 'button is-link' %>
    </div>
  </div>

  <p style="color: green"><%= notice %></p>


<h1>My Stream</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

